.tbody {
    width:80%;
    padding:5%;
    border-radius: 2%;
    border-left:none;
    box-shadow: 5px 10px 8px 10px #f8f6f6;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:#f4f4f4;
    margin-bottom: 210px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.edit:hover {
    color:red;
}
.delete {
    color: red;
}

.delete:hover{
    color:gray;
}

#admin-footer {
    position: relative;
}