.user-section {
    width: 80%;
    font: 'Segeo UI';
}

.createlink:hover {
    color:red;
}

.tbody {
    width:80%;
    padding:5%;
    border-radius: 2%;
    border-left:none;
    border-bottom:none;
    background-color: rgb(221, 219, 219);
}

table {
    font-family: "Segeo UI", sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 210px;
    padding:5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#edit-record:hover {
    color:red;
}
.delete {
    color: red;
}

.delete:hover{
    color:gray;
}

#user-footer {
    position: relative;
}