.user-section {
    width: 80%;
    font: 'Segeo UI';
}

.createlink:hover {
    color:red;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 210px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#edit-record:hover {
    color:red;
}
.delete {
    color: red;
}

.delete:hover{
    color:gray;
}

#user-footer {
    position: absolute;
}